.addressWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;
}

.inputWrapper {
  label {
    display: none;
  }

  input {
    width: 100%;
    @include font(16, 24);
    height: 48px;
    padding-left: 16px;
    border-radius: 12px;
    border: none;
    background: $primary-lightgrey-color;
    font-style: normal;
    letter-spacing: 0.04em;
    outline: none;

    @include media(desktop) {
      height: 52px;
      @include font(18, 28);
    }
  }
  input:placeholder {
    color: $primary-black-color;
  }
}
.inputWrapper.invalid > input {
  border: 1px solid $error-input-color;
}

.inputWrapper.invalid > span {
  display: none;
}
.comment {
  height: 96px;
  resize: none;
  padding: 12px 16px;
  border-radius: 12px;
  background: $primary-lightgrey-color;
  outline: none;
  border: none;

  @include font(16, 24);
  font-style: normal;
  letter-spacing: 0.04em;

  @include media(desktop) {
    height: 108px;
    @include font(18, 28);
  }
}
.comment:placeholder {
  color: $primary-black-color;
}
.error {
  width: calc(100% + 2px);
  height: 50px;
  border-radius: 12px;
  border: 1px solid $error-input-color;
  position: absolute;
  top: -1px;
  left: -1px;
  pointer-events: none;
  @include media(desktop) {
    height: 54px;
  }
}
