.orderCartWrapper {
  width: 100%;
  padding: 20px 0 20px 16px;
  position: relative;
  background-color: $primary-lightgrey-color;
  border-radius: 24px;
  height: fit-content;
  @include media(tablet) {
    padding: 32px 16px 32px 32px;
  }
  @include media(desktop) {
    width: calc((100% - 32px) / 2);
    padding: 64px 16px 64px 32px;
  }
}
.orderGoBack {
  position: absolute;
  height: 24px;
  right: 0;
  top: -48px;
  display: flex;
  gap: 4px;
  align-items: center;
  @include font(16, 24);
  letter-spacing: 0.04em;
  @include media(desktop) {
    @include font(18, 28);
  }
  transition: color $animation-duration $animation-time-function;
  svg {
    width: 24px;
    height: 24px;
    transition: stroke $animation-duration $animation-time-function;
    @include media(desktop) {
      width: 28px;
      height: 28px;
    }
  }
}

.orderGoBack:active,
.orderGoBack:focus {
  color: $primary-hover-color;
}

.orderGoBack:active svg,
.orderGoBack:focus svg {
  stroke: $primary-hover-color;
}
.orderCartTitle {
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 32px;
  }
}
.orderCartListWrapper {
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 24px;
  }
  @include media(desktop) {
    margin-bottom: 34px;
  }
}
.orderCartList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 344px;

  @include media(tablet) {
    max-height: 392px;
  }
  @include media(desktop) {
    max-height: 428px;
  }
}

.orderCartItem {
  display: flex;
  gap: 12px;
  @include media(tablet) {
    gap: 24px;
  }
}
.price {
  max-width: 303px;
  padding-top: 20px;
  border-top: 1px solid $primary-darkgrey-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(tablet) {
    max-width: 640px;
  }
  @include media(desktop) {
    max-width: 528px;
  }
  span {
    font-family: $primary-font-family;
    @include font(16, 24);
    @include media(desktop) {
      @include font(18, 28);
    }
  }
}
