.contacts {
  :not(:last-child) {
    margin-bottom: 12px;
  }

  a {
    @include font(16, 24);
    font-family: $primary-font-family;
    color: $primary-white-color;

    &:focus {
      color: $primary-hover-color;
    }

    @include media(desktop) {
      @include font(18, 28);
      transition: color $animation-duration $animation-time-function;

      @media (hover: hover) {
        &:hover {
          color: $primary-hover-color;
        }
      }
    }
  }
}
