.iconsList {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

a:focus .icon {
  fill: $primary-hover-color;
}

.icon {
  fill: $primary-accent-color;
  transition: fill $animation-duration $animation-time-function;

  @media (hover: hover) {
    &:hover {
      fill: $primary-hover-color;
    }
  }
}
