.iconsList {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.icon {
  fill: $primary-accent-color;

  &:focus,
  &:active {
    fill: $primary-hover-color;
  }

  @include media(desktop) {
    @media (hover: hover) {
      transition: fill $animation-duration $animation-time-function;
      &:hover {
        fill: $primary-hover-color;
      }
    }
  }
}
