$dark-bg-color: #1f1b1a;
$light-bg-color: #ffffff;
$primary-text-color: #1f1b1a;

$primary-black-color: #1f1b1a;
$primary-accent-color: #facf5a;
$primary-hover-color: #ebb41c;
$primary-background-accent-color: #f7f5ed;
$primary-darkgrey-color: #858585;
$primary-grey-color: #cacaca;
$primary-lightgrey-color: #f6f6f6;
$primary-white-color: #ffffff;

$error-input-color: #dc3353;