.myScroll .os-scrollbar {
  --os-size: 6px;
  --os-track-bg: #f7f5ed;
  --os-track-bg-hover: #f7f5ed;
  --os-handle-bg: #facf5a;
  --os-track-border-radius: 6px;
  --os-handle-border-radius: 6px;

  --os-handle-bg-hover: #facf5a;
  --os-handle-bg-active: #facf5a;

}