.burgerIcon {
  width: 24px;
  height: 24px;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }

  @include media(desktop) {
    display: none;
  }
}
.cartIcon {
  width: 24px;
  height: 24px;
  position: relative;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }

  @include media(desktop) {
    width: 36px;
    height: 36px;
  }
}
.closeIcon {
  width: 24px;
  height: 24px;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
}
.navList {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 24px 24px;

  @include media(desktop) {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.navListLink {
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include media(mobile) {
    font-size: 16px;
  }
  @include media(tablet) {
    font-size: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}
.navListLink:hover,
.navListLink:focus {
  text-decoration: underline;
  text-decoration-color: $primary-hover-color;
  text-underline-offset: 0.25em;
}
.navListOpen {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-accent-color;
  gap: 24px;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(tablet) {
    width: $tablet;
  }

  .navListItem:first-child {
    margin-top: 56px;
  }
}
.desktopHeader {
  @include media(desktop) {
    display: flex;
  }
}
.cartButton {
  position: relative;
}
.cartButton:hover,
.cartButton:focus {
  background-color: $primary-background-accent-color;
  border-radius: 12px;
}

.orderCount {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $primary-accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1;
  font-size: 12px;
  bottom: 0px;
  right: 0px;
}
