.burgerIcon {
  width: 40px;
  height: 40px;

  @include media(tablet) {
    width: 48px;
    height: 48px;
  }

  @include media(desktop) {
    display: none;
  }
}
.cartIcon {
  width: 32px;
  height: 32px;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }

  @include media(desktop) {
    width: 36px;
    height: 36px;
  }
}
.closeIcon {
  width: 24px;
  height: 24px;

  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
}
.navList {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 24px 24px;

  @include media(desktop) {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.navListItem {
  height: 28px;
}
.navListItem:hover {
  @include media(desktop) {
    border-bottom: 1px solid $primary-hover-color;
  }
}
.navListLink {
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include media(mobile) {
    font-size: 16px;
  }
  @include media(tablet) {
    font-size: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.navListOpen {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-accent-color;
  gap: 24px;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(tablet) {
    width: $tablet;
  }

  .navListItem:first-child {
    margin-top: 56px;
  }
}
.desktopHeader {
  display: flex;
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.cartButton:hover,
.cartButton:focus,
.cartButton:active {
  background-color: $primary-background-accent-color;
  border-radius: 12px;
}
.cartButton {
  position: relative;
}
.shopCartText {
  position: absolute;
  bottom: 2px;
  right: 0px;
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.3;
  text-align: center;
  color: $primary-text-color;
  background: $primary-accent-color;
  padding: 4px;
  border-radius: 12px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.moreThanNine {
    border-radius: 8px;
    padding: 0px 4px;
    width: 21px;
    bottom: 4px;
    right: -6px;
  }
  @include media(tablet) {
    position: absolute;
    bottom: 5px;
    right: 2px;
    &.moreThanNine {
      border-radius: 8px;
      padding: 0px 4px;
      width: 21px;
      bottom: 5px;
      right: -3px;
    }
  }
}
