.classBtnSize {
  position: relative;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    width: 48px;
    height: 48px;
  }

  @include media(desktop) {
    width: 52px;
    height: 52px;
  }
}

.cursorPointer {
  cursor: pointer;
}

.cursorDefault {
  cursor: default;
}

.hangToBtn {
  position: relative;
}

.basketCartIcon {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  @include media(tablet) {
    width: 48px;
    height: 48px;
  }
  @include media(desktop) {
    width: 52px;
    height: 52px;
  }
}
.basketCartCircle {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $primary-accent-color;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    top: 25px;
    left: 25px;
  }

  @include media(desktop) {
    top: 28px;
    left: 28px;
  }
}

.basketCartQty {
  font-family: $secondary-font-family;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.basketCartIcon:hover,
.basketCartIcon:focus {
  @include media(desktop) {
    background-color: $primary-background-accent-color;
    border-radius: 12px;
  }
}
