.classBtnSize {
  position: relative;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    width: 48px;
    height: 48px;
  }

  @include media(desktop) {
    width: 52px;
    height: 52px;
  }
}

.hangToBtn {
  position: relative;
}

.basketCartIcon {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.classBtnSize:hover {
  background-color: $primary-background-accent-color;
  border-radius: 12px;
  @include media(desktop) {
    width: 52px;
    height: 52px;
  }
}
.basketCartCircle {
  position: absolute;
  top: 17px;
  left: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $primary-accent-color;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    top: 16px;
    left: 17px;
  }

  @include media(desktop) {
    top: 18px;
    left: 17px;
  }
}

.basketCartQty {
  font-family: $secondary-font-family;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
