.card {
  @include media(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media(tablet) {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 160px;
  }

  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 196px;
  }
}

.photoContainer {
  position: relative;
  margin: 0px 61.5px 24px 61.5px;
  width: 148px;
  height: 136px;

  @include media(tablet) {
    position: relative;
    margin: 12px 24px 12px 0px;
    width: 148px;
    height: 136px;
  }
  @include media(desktop) {
    position: relative;
    margin: 0;
    width: 212px;
    height: 196px;
  }
}

.svgClassName {
  width: 132px;
  height: 120px;

  @include media(tablet) {
    width: 132px;
    height: 120px;
  }
  @include media(desktop) {
    width: 190px;
    height: 172px;
  }
}

.photo {
  position: absolute;
  width: 124px;
  height: 124px;
  bottom: 0;
  right: 0;

  @include media(tablet) {
    position: absolute;
    width: 124px;
    height: 124px;
    bottom: 0;
    right: 0;
  }

  @include media(desktop) {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 0;
    right: 0;
  }
}

.iconClassName {
  position: absolute;
  fill: $primary-accent-color;
  bottom: 0;
  left: 0;
  @include media(tablet) {
    position: absolute;
    fill: $primary-accent-color;
    bottom: 0;
    left: 0;
  }

  @include media(desktop) {
    position: absolute;
    fill: $primary-accent-color;
    bottom: 0;
    left: 0;
  }
}

.content {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 256px;
  margin: 0;
  padding: 0px 32px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 271px;
  overflow-y: auto;

  @include media(tablet) {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 160px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 404px;
    overflow-y: auto;
  }

  @include media(desktop) {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 196px;
    padding: 28px 0px;
    margin-left: 32px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 764px;
    overflow-y: auto;
  }
}

.content::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-track {
  background: none;
}

.content::-webkit-scrollbar-thumb {
  background-color: $primary-accent-color;
  border-radius: 6px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: $primary-hover-color;
}

.name {
  font-family: $primary-font-family;
  font-weight: 600;
  margin: 0;
  padding: 0;

  @include font(18, 28);

  @include media(tablet) {
    @include font(20, 28);
  }
  @include media(desktop) {
    @include font(24, 32);
  }
}

.review {
  @include media(mobile) {
    font-family: $primary-font-family;
    margin-top: 12px;
    font-weight: 400;
    @include font(16, 24);
  }

  @include media(tablet) {
    font-family: $primary-font-family;
    @include font(16, 24);
  }
  @include media(desktop) {
    font-family: $primary-font-family;
    margin-top: 24px;
    @include font(18, 28);
  }
}
