.cardList {
  max-height: 560px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
    max-height: 640px;
  }

  @include media(desktop) {
    max-height: 528px;
  }
}

.wrapper {
  margin-top: 32px;

  @include media(desktop) {
    margin-top: 52px;
  }
}
