.cardList {
  max-height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
    max-height: 640px;
  }

  @include media(desktop) {
    max-height: 528px;
    margin-top: 52px;
  }
}

.cardList::-webkit-scrollbar {
  width: 4px;
}

.cardList::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $primary-accent-color;
}

.cardList::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: $primary-background-accent-color;
}
