.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.thumbList {
  position: relative;
}

.swiperWrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.prevButton {
  position: absolute;
  display: flex;
  top: 158px;
  left: -60px;
  border-radius: 24px;
  transition: background-color $animation-duration cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    background-color: $primary-background-accent-color;
  }
}

.nextButton {
  position: absolute;
  display: flex;
  top: 158px;
  right: -60px;
  border-radius: 24px;
  transition: background-color $animation-duration cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    background-color: $primary-background-accent-color;
  }
}

.productItem {
  border-bottom: 1px solid $primary-darkgrey-color;
  flex-basis: 100%;
  @include media(tablet) {
    flex-basis: calc((100% - 32px) / 2);
  }
}

.listDesctop {
  @include media(desktop) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform $animation-duration cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}
