.prevButton {
  position: absolute;
  border-radius: 50%;
  background-color: none;
  top: 525px;
  left: 140px;
  z-index: 2;

  @include media(tablet) {
    position: absolute;
    border-radius: 50%;
    background-color: none;
    top: 250px;
    left: 40px;
    z-index: 2;
  }

  @include media(desktop) {
    position: absolute;
    border-radius: 50%;
    background-color: none;
    top: 300px;
    left: 125px;
    z-index: 2;
  }
}

.prevButton:hover {
  background-color: $primary-white-color;
}

.nextButton {
  position: absolute;
  border-radius: 50%;
  background-color: none;
  top: 525px;
  right: 140px;
  z-index: 1;

  @include media(tablet) {
    position: absolute;
    border-radius: 50%;
    background-color: none;
    top: 250px;
    right: 40px;
    z-index: 1;
  }

  @include media(desktop) {
    position: absolute;
    border-radius: 50%;
    background-color: none;
    top: 300px;
    right: 125px;
    z-index: 1;
  }
}

.nextButton:hover {
  background-color: $primary-white-color;
}

.section {
  position: relative;
  padding: 0px 20px;

  @include media(tablet) {
    position: relative;
    padding: 0px 32px;
  }
  @include media(desktop) {
    position: relative;
    padding: 0px 112px;
  }
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  @include font(32, 32);

  @include media(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    @include font(60, 60);
  }
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    font-weight: 600px;
    @include font(80, 80);
  }
}

.centerDiv {
  @include media(mobile) {
    height: 524px;
    padding: 32px;
    border-radius: 24px;
    background-color: $primary-background-accent-color;
  }
  @include media(tablet) {
    height: 312px;
    padding: 76px 64px;
    border-radius: 24px;
    background-color: $primary-background-accent-color;
  }
  @include media(desktop) {
    height: 356px;
    padding: 80px 104px;
    border-radius: 24px;
    background-color: $primary-background-accent-color;
  }
}
