.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   width: 375px;
  padding: 32px 20px 24px 20px;
  padding-right: 0;
  border-radius: 0;
  background-color: $light-bg-color;

  @include media(tablet) {
    // width: 672px;
    padding: 48px;
    padding-right: 32px;
    border-radius: 24px;
  }

  @include media(desktop) {
    // width: 1216px;
    padding: 64px;
    padding-right: 48px;
  }
}

.modalCloseBtn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms $animation-time-function;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-hover-color;
  }

  @include media(tablet) {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
}

.modalCloseIcon {
  fill: $primary-text-color;
  width: 32px;
  height: 32px;

  @include media(tablet) {
    width: 40px;
    height: 40px;
  }

  @include media(desktop) {
  }
}

.modalTitle {
  @include font(32, 32);
  margin-bottom: 24px;
  font-family: $secondary-font-family;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: left;
  color: $primary-text-color;

  @include media(tablet) {
    @include font(60, 60);
    margin-bottom: 32px;
  }

  @include media(desktop) {
    @include font(80, 80);
    margin-bottom: 64px;
  }
}
