.header {
  text-align: center;
  position: sticky;
  z-index: 99999;
  top: 0;
  box-shadow: 0 4px 4px 0 rgba(31, 27, 26, 0.05);
  background-color: $primary-white-color;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  @include media(tablet) {
    height: 72px;
  }

  @include media(desktop) {
    padding: 24px 112px;
    height: 76px;
  }
}

.logo {
  font-size: 40px;
}
