.imgWrapper {
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  img {
    width: 104px;
    height: 104px;
    @include media(tablet) {
      width: 120px;
      height: 120px;
    }
    @include media(desktop) {
      width: 132px;
      height: 132px;
    }
  }
}
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  p,
  span {
    font-family: $primary-font-family;
    @include font(16, 24);
    letter-spacing: 0.04em;
    @include media(desktop) {
      @include font(18, 28);
    }
  }
  p:last-of-type {
    display: flex;
    gap: 16px;
  }
}
.textWrapper > span {
  font-weight: 600;
}
